# Dependencies
node_modules

# Use yarn.lock instead
package-lock.json

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# Optional npm cache directory
.npm
.vercel


# Vercel
.vercel
vercel.json